[project]
name = "epochalyst"
version = "0.0.1"
authors = [
    { name = "Jasper van Selm", email = "jmvanselm@gmail.com" },
    { name = "Ariel Ebersberger", email = "arielebersberger@gmail.com" },
    { name = "Tolga Kopar", email = "cahittolgakopar@gmail.com" },
]
description = "This package contains the code for team Epoch's pipeline"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies= [
    # Machine Learning Libraries
    "numpy>=1.24.4",

    # Parallel Processing Libraries
    "dask>=2023.12.0",

    # Data Processing Libraries
    "pandas>=1.3.3",

    # Parquet
    "pyarrow>=6.0.0",

    # PyTorch
    "torch==2.1.2+cu118"
]
