.epochlib-logo {
    content: url('https://raw.githubusercontent.com/TeamEpochGithub/epochlib/main/assets/EpochLib.svg');
    max-width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

html.dark .epochlib-logo {
    content: url('https://raw.githubusercontent.com/TeamEpochGithub/epochlib/main/assets/EpochLib.svg');
}
