.epochalyst-logo {
    content: url('https://raw.githubusercontent.com/TeamEpochGithub/epochalyst/main/assets/Epochalyst_Logo_Dark.svg');
    max-width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

html.dark .epochalyst-logo {
    content: url('https://raw.githubusercontent.com/TeamEpochGithub/epochalyst/main/assets/Epochalyst_Logo_Light.svg');
}
