name: Publish
on:
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.1.6
      - name: Install the latest version of Rye
        uses: eifinger/setup-rye@v3.0.2
      - name: Build the package
        run: rye build
      - uses: actions/upload-artifact@v4.3.3
        with:
          path: ./dist

  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    environment:
        name: pypi
        url: https://pypi.org/p/epochalyst
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/download-artifact@v4.1.7

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: artifact/
